:root:has(#theme) {
  --text-main: #494c6b;
  --text-additional: #9495a5;
  --body-bg: #fafafa;
  --main-bg: #fff;
  --divider: #e3e4f1;
  --index: 999;

  --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  --text-active: #3a7cfd;
}
:root:has(#theme:checked) {
  --text-main: #c8cbe7;
  --text-additional: #4d5067;
  --body-bg: #171823;
  --main-bg: #25273d;
  --divider: #393a4b;
  --index: -999;

  --shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--body-bg);
}
/* Header */
.header {
  max-width: 375px;
  height: 200px;
  padding: 48px 24px 0 24px;
}
.header--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
}
.header:has(#theme) {
  background: url(../images/bg-mobile-light.jpg);
}
.header:has(#theme:checked) {
  background: url(../images/bg-mobile-dark.jpg);
}
.header__logo {
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.theme-switcher {
  width: 20px;
  height: 20px;
  background-size: contain;
}
.theme-switcher:has(#theme) {
  background-image: url(../images/icon-moon.svg);
}
.theme-switcher:has(#theme:checked) {
  background-image: url(../images/icon-sun.svg);
}
.theme-switcher__checkbox {
  position: absolute;
  appearance: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

/* Main */
.container {
  transform: translateY(-92px);
  max-width: 327px;
  margin-inline: auto;
}
.tile {
  max-width: 327px;
  height: 48px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--text-main);
  background-color: var(--main-bg);
  box-shadow: var(--shadow);
}
.tile-label {
  margin-bottom: 16px;
  position: relative;
}
.tile-input {
  padding-left: 52px;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--main-bg);
  color: var(--text-main);
}
.tile-input:focus {
  outline: none;
  border-top: var(--text-active) 2px solid;
  border-bottom: var(--text-active) 2px solid;
}
.checkbox {
  position: absolute;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--divider);
  left: 16px;
  top: 15px;
  background-color: inherit;
  z-index: 500;
}
.checkbox:checked {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
}
.task-tile--completed {
  text-decoration: line-through;
  color: var(--text-additional);
}
.task-tile--not-completed {
  opacity: 1;
}
.checkbox--custom {
  position: absolute;
  left: 21px;
  top: 21px;
  background-color: white;
  background-repeat: no-repeat;
  z-index: 999;
  width: 10px;
  height: 9px;
  pointer-events: none;
  mask-image: url(../images/icon-check.svg);
}
.task__label {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 52px;
}
.task__remove {
  background-image: url(../images/icon-cross.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.task__remove:hover {
  cursor: pointer;
}
.options {
  justify-content: space-between;
  color: var(--text-additional);
  padding-inline: 20px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 16px;
}
.options--desktop {
  display: none;
}
.options--mobile {
  justify-content: center;
  gap: 18px;
  color: var(--text-additional);
  font-weight: 700;
  margin-bottom: 40px;
}
.options--active {
  color: var(--text-active);
}
.task-tile {
  border-radius: 0;
  border-bottom: solid 1px var(--divider);
  justify-content: space-between;
  padding-right: 20px;
}
.task-tile:first-child {
  border-radius: 5px 5px 0 0;
}

.info {
  color: var(--text-additional);
  text-align: center;
}
/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.task-list__item {
  padding-left: 54px;
}

@media (min-width: 376px) {
  .header {
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1440px;
    height: 300px;
    padding-top: 70px;
  }
  .header--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    width: 540px;
  }
  .header:has(#theme) {
    background: url(../images/bg-desktop-light.jpg);
  }
  .header:has(#theme:checked) {
    background: url(../images/bg-desktop-dark.jpg);
  }
  .tile {
    min-width: 327px;
    max-width: 540px;
    height: 64px;
  }
  .tile-input {
    padding-left: 72px;
  }
  .task-list__item {
    padding-left: 72px;
  }
  .task__label {
    padding-left: 72px;
  }
  .task__remove {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  .task-tile {
    padding-right: 25px;
  }
  .checkbox {
    width: 24px;
    height: 24px;
    left: 28px;
    top: 20px;
  }
  .checkbox--custom {
    left: 35px;
    top: 28px;
  }
  .container {
    transform: translateY(-125px);
    min-width: 327px;
    max-width: 540px;
    margin-inline: auto;
  }
  .options--mobile {
    display: none;
  }
  .options--desktop {
    display: flex;
    gap: 18px;
    font-weight: 700;
  }
}

.hidden-tile {
  display: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
